.navbar-brand {
  padding: 0px;
}
.a {
  padding-top: 200px;
  padding-left: 0px;
  font-size: larger;
  text-align: justify;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://www.creativefabrica.com/wp-content/uploads/2022/02/12/White-Abstract-Background-Graphics-25105031-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hello {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.btn btn-primary {
  padding-left: 50px;
}
.col img {
  padding-bottom: 50px;
}
.b{
    background-color: burlywood;
    text-align: center;
}
.c{
   padding-top: 0px;
  padding-left: 0px;
  font-size: larger;
  text-align: justify;  
}
.col img{
    padding-left: 100px;
    width: 600px;
    height: 700px;
}
.d{
    padding-top: 200px;
  padding-left: 0px;
  font-size: larger;
  text-align: justify;
}
.e img{
    padding-right: 400px;
    width: 1000px;
    height: 500px;
}
.navbar {
  background-color: #ffffff !important;
}

.navbar-brand img {
  object-fit: contain;
}

.navbar .nav-link {
  font-weight: 500;
  color: #333;
}

.navbar .nav-link:hover {
  color: #00975f;
}

.navbar .nav-link.active {
  color: #00975f !important;
  border-bottom: 2px solid #00975f;
}