body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://www.creativefabrica.com/wp-content/uploads/2022/02/12/White-Abstract-Background-Graphics-25105031-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.b{
    background-color: burlywood;
    text-align: center;
}
/* ========== GLOBAL STYLES ========== */
* {
  box-sizing: border-box;
}
.navbar {
  background-color: #ffffff !important;
}

.navbar-brand img {
  object-fit: contain;
}

.navbar .nav-link {
  font-weight: 500;
  color: #333;
}

.navbar .nav-link:hover {
  color: #00975f;
}

.navbar .nav-link.active {
  color: #00975f !important;
  border-bottom: 2px solid #00975f;
}