body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://www.creativefabrica.com/wp-content/uploads/2022/02/12/White-Abstract-Background-Graphics-25105031-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.b{
    background-color: burlywood;
    text-align: center;
}
